@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");


body {
    background-color: skyblue;
    display: flex;
    justify-content: center;
}
#thumbnailContainer {
    display: flex;
    flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 200px;
        width: 550px;
        position: fixed;
        bottom: 20px;
        overflow: scroll;
        gap: 2em;
}
.thumbnail-img{
    width: 200px;
    height: auto;
    border: 2px solid black;
    border-radius: 5px;
    
}

